html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color: #F1F1F1;;
    min-width: 1200px;
    font-family: "font", sans-serif;
}

.flex {
    display: flex;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Basic */
.section-title {
    margin: 0;
    margin-bottom: 40px;
    color: #333;
    font-family: Muller;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section-descr {
    margin: 0;
    margin-bottom: 50px;
}

.list-reset {
    padding: 0;
    list-style: none;

}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Header top right / left */

.header-logo {
    margin-right: 40px;
    width: 261px;
    height: 54px;
}

.contact-phone-top{
    color: #666;
    font-family: Muller;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
}

.header-container-top-left{
    margin-bottom: 30px;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.header-top-right {
    align-self: center;
    justify-content: center;
}


/* Nav vs Btn */
.header-nav {
    min-height: 70px;
    max-width: 1170px;
    justify-content: space-between;
    outline: solid 1px white;
    border-radius: 15px;
    background: #FFF;
    margin-bottom: 70px;
    align-items: center;
    gap: 45px;
    padding-left: 45px;
}

.nav-list-item {
    color: #666;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 45px;
}

.top-btn {
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.btn-top-left-1{
    color: #CC9933;
    min-width: 107px;
    height: 42px;
    padding: 13px 20px;
    max-height: 42px;
    border-radius: 10px;
    border: 1px solid #C93;
}

.btn-top-left-2{
    color: #CC9933;
    min-width: 177px;
    height: 42px;
    padding: 13px 20px;
    min-height: 42px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #C93;
}
/* Promo */


.section-title.promo{
    /*color: #333;*/
    /*font-family: Muller;*/
    /*font-size: 40px;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*line-height: normal;*/
}

.promo-content-list{
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1200px;
    height: 540px;
    gap: 24px;
    justify-content: flex-start;
    /*align-items: stretch;*/
    margin-bottom: 70px;
}

.promo-content-list-item1{
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    max-width: 573px;
    min-height: 258px;
    color: #FFFFFF;
    flex-grow: 0;
    background: url(/img/darken.png), url(/img/promo-img1.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.promo-content-list-item2{
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    max-width: 573px;
    min-height: 258px;
    color: #FFFFFF;
    flex-grow: 0;
    background: url(/img/darken.png), url(/img/promo-img2.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.promo-content-list-item3{
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    max-width: 573px;
    min-height: 258px;
    color: #FFFFFF;
    flex-grow: 1;
    background: url(/img/darken.png), url(/img/promo-img3.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.promo-list-title{
    margin: 0;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-family: Muller;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.promo-list-title.big-size{
    color: #FFF;
    font-family: Muller;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price-content-item {
    margin: 0;
    margin-bottom: 47px;
    color: #FFF;
    font-family: Muller;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.descr-content-item{
    color: #F0BF5F;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* About */

.about {
    margin: 0;
    margin-bottom: 70px;
    line-height: 25px;
}

.section-title.about-us{
    /*color: #333;*/
    /*font-family: Muller;*/
    /*font-size: 40px;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*line-height: normal;*/
}

.section-descr.about{
    margin-bottom: 70px;
    max-width: 888px;
    color: #000;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
}

/* Services */

.services-content-list{
    flex-wrap: wrap;
    /*align-items: stretch;*/
    /*flex-direction: column;*/
    gap: 24px;
    margin-bottom: 70px;

}

.section-title.service {
    /*margin: 0;*/
    /*margin-bottom: 20px;*/
    /*font-family: Muller;*/
    /*font-size: 40px;*/
    /*font-style: normal;*/
    /*font-weight: 700;*/
    /*line-height: normal;*/
}

.services-content-list-item {
    flex-direction: column;
    padding-left: 30px;
    min-width: 573px;
    min-height: 330px;
    border-radius: 15px;
    background: #FFF;
    align-items: flex-start;
    justify-content: flex-end;


}

.services-content-list-item.list-item1{
    background-image: url("../img/service-img1.jpg");
    background-repeat: no-repeat;
}

.services-content-list-item.list-item2{
    background-image: url("../img/service-img2.jpg");
    background-repeat: no-repeat;
}

.services-content-list-item.list-item3{
    background-image: url("../img/service-img3.jpg");
    background-repeat: no-repeat;
}

.services-content-list-item.list-item4{
    background-image: url("../img/service-img4.jpg");
    background-repeat: no-repeat;
}

.services--block-seemore{
    color: #C93;
    font-family: Muller;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
}

.services-blocktext-preview{
    max-width: 402px;
    /*max-height: 64px;*/
    color: #000;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    /*align-content: baseline;*/
}



/* Advantages */

.section-title.advantages{
    /*font-family: Muller;*/
    /*font-size: 40px;*/
    /*font-style: normal;*/
    /*font-weight: 700;*/
    /*line-height: normal;*/
}

.advantages-content-imgs{
    position: absolute;
    top: 45px; left: 45px;
}

.advantages-content-list{
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 70px;
    justify-content: center;

}

.advantages-content-list-item{
    position: relative;
    width: 276px;
    height: 276px;
    border-radius: 15px;
    background: #FFF;
    justify-content: center;
    align-items: flex-end;
    align-content: baseline;
}

/*.advantages-content-list-item.adv-item1{*/
/*    !*position: absolute;*!*/
/*    !*top: -5px; left: -5px;*!*/
/*    background-image: url("../img/advant1.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position: top left;*/

/*}*/

/*.advantages-content-list-item.adv-item2{*/
/*    background-image: url("../img/advant2.png");*/
/*    background-repeat: no-repeat;*/

/*}*/

/*.advantages-content-list-item.adv-item3{*/
/*    background-image: url("../img/advant4.png");*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.advantages-content-list-item.adv-item4{*/
/*    background-image: url("../img/advant4.png");*/
/*    background-repeat: no-repeat;*/
/*}*/

.advantages-text-descr{
    max-width: 189px;
    min-height: 128px;
    margin-bottom: 32px;
    color: #000;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;

}

/* Placement */
.section-title.placement{
    /*font-family: Muller;*/
    /*font-size: 40px;*/
    /*font-style: normal;*/
    /*font-weight: 700;*/
    /*line-height: normal;*/
}

.placement-content-list{
    flex-wrap: wrap;
    gap: 24px;
}

.placement-content-list-item{
    flex-direction: column;
    /*flex-wrap: wrap;*/
    min-height: 440px;
    min-width: 374px;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 45px;
    border-radius: 15px;
    background: #FFF;
}

.placement-content-list-item.place-item1{
    background-image: url("../img/placement-img1.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

.placement-content-list-item.place-item2{
    background-image: url("../img/placement-img2.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

.placement-content-list-item.place-item3{
    background-image: url("../img/placement-img3.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

.placement-content-list-item.place-item4{
    background-image: url("../img/placement-img4.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

.placement-content-list-item.place-item5{
    background-image: url("../img/placement-img5.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

.placement-content-list-item.place-item6{
    background-image: url("../img/placement-img6.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

.placement-content-list-item.place-item7{
    background-image: url("../img/placement-img7.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

.placement-content-list-item.place-item8{
    background-image: url("../img/placement-img8.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

.placement-content-list-item.place-item9{
    align-items: center;
    padding-bottom: 40px;
    color: #FFF;
    font-family: Muller;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    background-image: url("../img/placement-img9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.price-placement-item{
    margin-bottom: 16px;
}

.placement-item-title{
    margin-bottom: 16px;
    color: #000;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.placement-item-location{
    margin-bottom: 20px;
    color: #999;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.placement-rooms {
    padding: 13px 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 1px solid #C93;
    color: #C93;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-content-item{

}

.rating-placement-content{
    /*justify-content: flex-end;*/
    /*align-items: flex-end;*/
}


/* Section Form-Action */

.section-form-action{
    margin: 0 auto;
    margin-top: 70px;
    width: 1170px;
    height: 256px;
    border-radius: 15px;
    background: #E9E9E9;
    margin-bottom: 70px;
}

.section-title.form-action{
    padding-left: 40px;
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    color: #333333;
    padding-top: 45px;
    margin-bottom: 20px;
}

.form-action-select{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    width: 1080px;
    min-height: 106px;
    border-radius: 15px;
    background: #FFF;
    padding: 31px 28px;

}

.form-select-city{
    flex-direction: column;
    gap: 15px;
}

.form-select-country{
    flex-direction: column;
    gap: 15px;
}

.form-select-date{
    flex-direction: column;
    gap: 15px;
}

.form-select-days{
    flex-direction: column;
    gap: 15px;
}

.form-select-peoples{
    flex-direction: column;
    gap: 15px;
}

.form-action-btn{
    padding: 13px 30px;
    border-radius: 10px;
    border: 1px solid #C93;
    height: 42px;
    color: #C93;
}

/* Section Contacts */

.container-section-contacts{
    margin: 0 auto;
    width: 1170px;
    height: 618px;
    border-radius: 15px;
    padding: 45px 45px;
    background: #FFF;
    background-image: url("../img/contact-img.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 653px;
    margin-bottom: 70px;
}

.section-title.contacts{
    color: #333;
    margin-left: 42px;
    font-family: Muller;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-section-contact-leftpart{
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 450px;
    min-height: 528px;

}

.contacts-block{
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #C4C4C4;
}

.contact-left{
    flex: 1 20%;
    color: #000;
    font-family: Muller;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact-right {
    flex: 1 30%;
    flex-direction: column;


}

/* Footer */

.footer{
    margin: 0 auto;
    padding: 45px;
    max-width: 1170px;
    min-height: 341px;
    border-radius: 15px;
    background: #333;
    margin-bottom: 20px;
    background-image: url("../img/footer-backimg.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.container.footer-contacts{
    justify-content: space-between;
    flex-direction: column;


}


.footer-block-contact{
    display: flex;
    justify-content: space-between;

}

.footer-left-contact{

    flex-grow: 1;

}

.footer-center-contact{

    flex-grow: 1;
    align-items: baseline ;

}

.footer-right-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.footer-right-contact-overflow {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.left-contact-descr{
    width: 302px;
    color: #FFF;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.center-contact-descr{
    color: #C93;
    font-family: Muller;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}







