html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: "font", sans-serif;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Basic */
.section-title {
    margin: 0;
    margin-bottom: 40px;
}

.section-descr {
    margin: 0;
    margin-bottom: 50px;
}

.list-reset {
    padding: 0;
    list-style: none;

}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Header top right / left */

.header-logo {
    margin-right: 40px;
}

.header-container-top-left{
    outline: 1px solid coral;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.header-top-right {
    align-self: flex-end;
}


/* Nav vs Btn */
.header-nav {
    outline: solid 1px coral;
    justify-content: space-between;
    margin-bottom: 70px;
}

.nav-list-item {
    margin-right: 45px;
    outline: solid 1px coral;
}

.top-btn {
    justify-content: flex-end;
}

.btn-top-left-1{
    width: 107px;
    height: 42px;
    outline: 1px solid lightcoral;
    padding: 13px 20px;
    max-height: 42px;
}

.btn-top-left-2{
    width: 177px;
    height: 42px;
    outline: 1px solid lightcoral;
    padding: 13px 20px;
    min-height: 42px;
    text-align: center;
}
/* Promo */

.promo-content-list{
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
    /*gap: 24px;*/
    max-height: 560px;
    /*margin: 0;*/
    /*margin-bottom: 70px;*/
    align-content: stretch;
}

.promo-item-bigsize{
    flex-grow: 1;

}

.promo-content-list-item {
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    /*margin-right: 24px;*/
    max-width: 573px;
    max-height: 560px;
    outline: solid 1px coral;

}

/*.promo-content-list-item:not(:nth-child(2n)){*/
/*    margin-right: 24px;*/
/*}*/

.promo-list-title {
    margin: 0;
    margin-bottom: 15px;
}

.price-content-item {
    margin: 0;
    margin-bottom: 47px;
}


/* About */

.about {
    margin: 0;
    margin-bottom: 70px;
    line-height: 25px;
}

/* Services */

.services-content-list{
    flex-wrap: wrap;
    gap: 24px;
}

.section-title .service {
    margin: 0;
    margin-bottom: 20px;
}

.services-content-list-item {
    flex-direction: column;
    width: 573px;
    outline: solid 1px coral;
    /*margin-bottom: 70px;*/
}

/*.services-content-list-item:not(:nth-child(2n)){*/
/*    margin-right: 24px;*/
/*}*/

/* Advantages */

.advantages-content-list{
    flex-wrap: wrap;
    /*flex-direction: column;*/
    gap: 20px;

}

.advantages-content-list-item{
    /*flex-direction: column;*/

    /*margin: 0;*/
    width: 276px;
    height: 276px;
    /*margin-bottom: 22px;*/
    outline: solid 1px coral;
}

.advantages-text-descr{
    text-align: center;
    line-height: 15px;
}

/* Placement */
.placement-content-list{
    flex-wrap: wrap;
    gap: 24px;
}

.placement-content-list-item{
    flex-direction: column;
    width: 374px;
    /*margin-bottom: 24px;*/
    outline: solid 1px coral;
}

/*.placement-content-list-item:not(:nth-child(3n)){*/
/*    margin-right: 24px;*/
/*}*/

.price-placement-item{
    margin-bottom: 16px;
}

.placement-item-title{
    margin-bottom: 16px;
}

.placement-item-location{
    margin-bottom: 20px;
}

.placement-rooms {
    padding: 13px 20px;
    border-color: coral;
    /*margin-bottom: 45px;*/
}










